* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(images/dm-background.png);
    background-size: cover;
}

#header {
    text-indent: -9999px;
    margin: 50px auto;
    width: 905px;
    height: 76px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat; 
}